body {
  background-color: white;
  color: var(--color-gray-5);
  font-family: var(--font-family);
  font-weight: 600;
}

/*32-40*/
h1 {
  font-size: clamp(2rem, calc(1.793rem + 0.884vw), 2.5rem);
}

/*24-32*/
h2 {
  font-size: clamp(1.5rem, calc(1.293rem + 0.884vw), 2rem);
}

/*18-20*/
h3 {
  font-size: clamp(1.125rem, calc(1.0732rem + 0.221vw), 1.25rem);
}

/*16-18*/
h4 {
  font-size: clamp(1rem, calc(0.948rem + 0.221vw), 1.125rem);
}

/*14-16*/
h5 {
  font-size: clamp(0.875rem, calc(0.823rem + 0.221vw), 1rem);
}

/*12-14*/
h6 {
  font-size: clamp(0.75rem, calc(0.698rem + 0.221vw), 0.875rem);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
